<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="datepicker.min.js"></script>
    <nav class="navbar navbar-expand-lg navbar-light" th:style ="'background-color: '+${sensor.color} ">
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link disabled" href="#" text="   "></a>
                </li>
                <li class="nav-item">
                    <a th:href="@{/sensors}" class="btn btn-outline-secondary" type="button">Data</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link disabled" href="#" text="   "></a>
                </li>
                <li class="nav-item">
                    <a th:href="@{/sensors/control}" class="btn btn-outline-secondary" type="button">Control</a>
                </li>
            </ul>
        </div>
    </nav>
    <br><br><br>
</head>
<body>
<br><br>
<table style="height:100%; position:absolute;" class="top-50 start-50 translate-middle">
    <tbody>
    <br><br><br>
    <tr>
        <td class="align-middle">
            <div class="card" style="width: 28rem; height: 28rem;">
                <div class="card-header" th:style ="'background-color: '+${sensor.color} "  th:text="${sensor.type}+'  ID='+${sensor.ID}" >
                </div>
                <div th:if="${alert}" class="alert alert-danger" role="alert" th:text="${alert}">
                </div>
                <div class="card-body row" >
                     <div class="row-4">
                            <form th:action="@{/sensors/{id}(id=${sensor.ID})}" method="post">
                                <img th:src="@{/images}" class="card-img-top"/>
                                <br><br><br>
                                <div class="container">
                                    <div class="row">
                                        <div class="col-3">
                                            <div class="row-2">
                                               Начало:
                                            </div>
                                            <div class="row-2">
                                               Конец:
                                            </div>
                                        </div>
                                        <div class="col-9">
                                            <div class="row-2">
                                                <input required type="date" min="2023-02-19" default="2023-02-19" name="until">
                                                <input required style="width: 4rem" type="number" placeholder="hour" min="0" max="23" default="14" name="u_h">
                                                <input required style="width: 4rem" type="number" placeholder="min" min="0" max="59" default="36" name="u_m">
                                            </div>
                                            <div class="row-2">
                                                <input required type="date" min="2023-02-19" default="2023-02-20" name="since">
                                                <input required style="width: 4rem" type="number" placeholder="hour" min="0" max="23" default="14" name="s_h">
                                                <input required style="width: 4rem" type="number" placeholder="min" min="0" max="59" default="36" name="s_m">
                                            </div>
                                        </div>
                                    </div>
                                        <div class="row-1">
                                            <div class="col-1">
                                                <div class="card" style="width: 2rem; height: 2rem;">
                                                    <input type="image" th:src="@{/reload}" alt="Построить">
                                                </div>
                                            </div>
                                        </div>
                                </div>
                            </form>
                    </div>
                </div>
            </div>
        </td>
    </tr>
    </tbody>
</table>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa"
        crossorigin="anonymous"></script>
<script src="/assets/js/jquery-3.5.1.min.js"></script>
</body>
</html>